html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

footer{
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(132, 241, 218);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(25, 0, 95);
}

.main-content{
  margin: auto;
  width: 70%;
  padding: 30px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(25, 0, 95);
}

#quote {
  margin: auto;
  width: 25%;
  border: 1.2px solid rgb(122, 122, 122);
  padding: 10px 30px;
  font-size: 30px;
  color: rgb(90, 90, 90);
  font-family: Baskerville;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px rgb(90, 90, 90);
 
}